In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from math import sqrt
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import scipy as sp

In [2]:
# or read_excel()
cars_df = pd.read_csv('/kaggle/input/carscars/cars.csv', delimiter=';')
cars = pd.DataFrame(cars_df)
cars

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,US
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,US
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,US
4,ford torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,82,US
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,Europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,US
390,ford ranger,28.0,4,120.0,79,2625,18.6,82,US
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,US

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model         392 non-null    object
 1   MPG           392 non-null    float64
 2   Cylinders     392 non-null    int64
 3   Displacement  392 non-null    float64
 4   Horsepower    392 non-null    int64
 5   Weight        392 non-null    int64
 6   Acceleration  392 non-null    float64
 7   Year          392 non-null    int64
 8   Origin        392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 27.7+ KB

In [4]:
y = cars.MPG
x = cars.Horsepower
x

0      130
1      165
2      150
3      150
4      140
      ...
387     86
388     52
389     84
390     79
391     82
Name: Horsepower, Length: 392, dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(pd.DataFrame(x), y, test_size=0.3, random_state = 42)
x_train

     Horsepower
109          94
17           85
318          92
24           90
126         100
..          ...
71          150
106         100
270          85
348          65
102         150

[274 rows x 1 columns]

In [6]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [7]:
y_pred = regressor.predict(x_test)
y_pred

array([29.60673686, 21.95467101, 31.10388018, 29.44038761, 26.77879949,
       28.60864132, 12.80546185, 28.60864132, 25.28165617, 32.93372202,
        9.47847669, 23.11911582, 15.30070071, 28.60864132, 18.96038438,
       26.44610097, 25.28165617, 28.60864132, 27.77689503, 26.44610097,
       25.28165617, 32.43467424, 29.77308612, 19.45943215, 29.93943538,
       26.11340245, 26.61245023, 23.61816359, 33.43276979, 28.44229206,
       16.96419329, 26.11340245, 20.29117844, 28.77499058, 16.132447  ,
       29.93943538, 17.79593957, 27.77689503, 17.79593957,  5.31974525,
       19.45943215, 28.60864132, 28.77499058, 28.10959355, 16.46514551,
        5.31974525, 24.44990988, 29.60673686, 29.10768909, 29.44038761,
       15.63339922, 25.28165617, 26.11340245, 26.44610097, 22.45371879,
       22.7864173 , 22.7864173 , 24.44990988, 25.28165617, 25.28165617,
        3.65625268, 26.11340245, 21.95467101, 26.44610097, 25.28165617,
       27.61054577, 26.44610097, 29.44038761, 22.7864173 ,  8.14768263,
       29.10768909, 11.97371556, 24.94895765, 26.11340245, 26.94514874,
       27.77689503, 16.96419329, 16.132447  , 26.44610097, 22.7864173 ,
       25.78070394, 24.94895765, 16.132447  , 30.43848315,  9.47847669,
       30.77118167, 22.7864173 , 21.95467101, 22.7864173 , 24.44990988,
       26.44610097, 28.44229206, 29.93943538, 26.94514874, 23.61816359,
       21.12292473, 22.45371879, 12.80546185, 25.28165617, 24.94895765,
        6.48419006, 22.7864173 ,  5.31974525, 33.43276979, 29.44038761,
       30.27213389, 31.10388018, 25.9470532 , 24.78260839, 18.62768586,
       29.93943538, 29.27403835, 26.77879949, 26.77879949, 30.27213389,
       24.44990988, 17.79593957, 29.10768909])

In [8]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_pred))
RMSE

4.955413560049772

Multiple Liner Regression

In [9]:
y = cars.MPG
x = cars[['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Year']]
x

     Cylinders  Displacement  Horsepower  Weight  Acceleration  Year
0            8         307.0         130    3504          12.0    70
1            8         350.0         165    3693          11.5    70
2            8         318.0         150    3436          11.0    70
3            8         304.0         150    3433          12.0    70
4            8         302.0         140    3449          10.5    70
..         ...           ...         ...     ...           ...   ...
387          4         140.0          86    2790          15.6    82
388          4          97.0          52    2130          24.6    82
389          4         135.0          84    2295          11.6    82
390          4         120.0          79    2625          18.6    82
391          4         119.0          82    2720          19.4    82

[392 rows x 6 columns]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y)
x_test

     Cylinders  Displacement  Horsepower  Weight  Acceleration  Year
331          3          70.0         100    2420          12.5    80
379          4          91.0          67    1995          16.2    82
186          8         318.0         150    4190          13.0    76
346          4         105.0          63    2215          14.9    81
114          8         350.0         145    4082          13.0    73
..         ...           ...         ...     ...           ...   ...
319          4         108.0          75    2265          15.2    80
105          8         350.0         180    4499          12.5    73
330          6         168.0         132    2910          11.4    80
75           4         121.0         112    2933          14.5    72
349          4         105.0          74    2190          14.2    81

[98 rows x 6 columns]

In [11]:
scaler = MinMaxScaler()
x_train_sc = pd.DataFrame(scaler.fit_transform(x_train))
x_test_sc = pd.DataFrame(scaler.transform(x_test))

x_test_sc

      0         1         2         3         4         5
0   0.0  0.005168  0.293478  0.228806  0.267857  0.833333
1   0.2  0.059432  0.114130  0.108307  0.488095  1.000000
2   1.0  0.645995  0.565217  0.730649  0.297619  0.500000
3   0.2  0.095607  0.092391  0.170683  0.410714  0.916667
4   1.0  0.728682  0.538043  0.700028  0.297619  0.250000
..  ...       ...       ...       ...       ...       ...
93  0.2  0.103359  0.157609  0.184860  0.428571  0.833333
94  1.0  0.728682  0.728261  0.818259  0.267857  0.250000
95  0.6  0.258398  0.467391  0.367735  0.202381  0.833333
96  0.2  0.136951  0.358696  0.374256  0.386905  0.166667
97  0.2  0.095607  0.152174  0.163595  0.369048  0.916667

[98 rows x 6 columns]

In [12]:
regressor = LinearRegression()
regressor.fit(x_train_sc, y_train)

y_train

178    25.0
334    27.2
268    21.1
308    38.1
43     13.0
       ...
264    30.0
242    43.1
24     21.0
297    27.2
38     14.0
Name: MPG, Length: 294, dtype: float64

In [13]:
y_pred = regressor.predict(x_test_sc)
y_pred

array([30.36799458, 34.34181673, 14.91004869, 32.2106694 , 13.69536112,
        9.91912857, 16.160675  , 16.58268246, 26.75502373, 13.73942293,
        7.15726756, 16.34086418, 32.79590229, 25.50734785, 23.44511685,
       17.07203297, 27.05190185, 32.03640779, 26.205747  , 15.96784709,
       32.25350847, 21.25977073, 26.13920715, 32.73683375, 15.16935477,
       10.33894702, 21.34943867, 23.56369145, 10.48370953, 25.34065987,
       29.85212391, 34.55004521, 19.14331276, 15.89829002, 11.49516589,
       11.35926203, 34.40496777, 26.93695345, 20.64645802, 26.61774463,
       30.85020598, 21.22078227, 26.13565598, 29.07153024, 30.84961059,
       22.02189871, 32.80490503, 30.26071737, 25.92971793, 26.5187426 ,
       28.78889855, 19.72467366, 17.41342479, 24.1851986 , 31.49301717,
       30.73628679,  9.96755482, 28.24365328, 27.09427664, 21.61607944,
       27.39772698,  9.45470363, 14.85603068, 29.943403  , 17.91341767,
       23.73155388, 27.86502823, 31.23283959, 28.41641377, 26.28542752,
       29.09929382, 20.02999432, 20.35980615, 23.36027002, 27.89767608,
       16.81592293, 25.65614596, 31.87683036, 26.89112687, 13.70205458,
       21.49409347, 21.70334588, 11.30321873, 33.70752786, 11.69669479,
       32.01282304, 17.97401787, 18.17701199, 29.82527635, 27.65958192,
       12.85640686, 34.52734724, 21.88264422, 31.20714025, 10.93462888,
       26.25700676, 21.1770697 , 32.36776643])

In [14]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_pred))
RMSE

3.4704645960527265